@import url("https://fonts.googleapis.com/css2?family=Devonshire&family=Homemade+Apple&family=Merienda:wght@300..900&family=Mouse+Memoirs&family=Playwrite+VN:wght@100..400&family=Sacramento&display=swap");
ul.languages {
  /* border: 2px solid magenta; */

  /* kullanılan stiller} */
  /* list-style-type: none; */
  /* list-style: square; */
  /* list-style: lower-alpha; */
  /* list-style: disc; */
  /* list-style: circle; */

  /* Madde imleri li'lerin içinde mi dışında mı  */
  list-style-position: inside;
  list-style-image: url(./img/pencil-solid.svg);
  color: black;
}
body {
  /* background-color: navajowhite; */
  /* background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%); */
  height: 100vh;
  font-family: "Homemade Apple", serif;
  /* font-family: "Devonshire", serif; */
  /* font-family: "Playwrite VN", serif; */
  font-family: "Merienda", serif;
  /* font-family: "Mouse Memoirs", serif; */
  /* font-family: "Sacramento", serif; */
}

ul.languages li {
  background-color: aquamarine;
  margin: 10px;
  width: 200px;
  border-radius: 5px;
  padding-left: 20px;
  border: 2px solid magenta;
  border-left: 10px solid gray;
}

ul.languages li::before {
  content: "\00024";
  margin-left: 5px;
  padding-right: 10px;
}

h2 {
  color: midnightblue;
  font-size: 2rem;
  padding-left: 45px;
}
h2 i {
  color: darkcyan;
}

ul.languages li:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* PSEUDU CLASS */

ul.pseudo_class li:first-child {
  color: red;
  font-family: "Homemade Apple", serif;
}

ul.pseudo_class li:last-child {
  color: coral;
  font-family: "Merienda", serif;
}

ul.pseudo_class li:nth-child(3) {
  color: brown;
  font-family: "Mouse Memoirs", serif;
  font-size: 2rem;
  list-style-type: none;
}

ul.pseudo_class li:nth-child(odd) {
  background-color: pink;
  border: 2px solid black;
  width: 15rem;
  border-radius: 7px;
  padding: 7px;
}

ul.pseudo_class li:nth-child(even) {
  background-color: fuchsia;
  border: 2px solid darkcyan;
  width: 15rem;
  border-radius: 7px;
  padding: 7px;
}

ul.pseudo_class li:hover {
  background-color: darkblue;
}

ul.pseudo_class li:active {
  background-color: black;
  color: white;
}
input:focus {
  background-color: tomato;
  color: white;
  border: 4px dashed darkgrey;
}

/*! LINK PSEUDO CLASSES */

nav.link a:link {
  color: red;
}

nav.link a:visited {
  color: darkcyan;
}

nav.link a:active {
  color: magenta;
}

nav.link a:hover {
  color: blueviolet;
}

nav.cw a {
  text-decoration: none;
  border: 2px solid darkslateblue;
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  color: black;
  background-color: darkgray;
}

nav.cw a:hover {
  background-color: aquamarine;
}

nav.cw a:hover i {
  color: red;
}

/*! LINK PSEUDO ELEMENTS */
.pseudo_elements::first-line {
  color: red;
}

.pseudo_elements::first-letter {
  font-size: 2rem;
  font-weight: 500;
  /* font-family: "Times New Roman", Times, serif; */
}

ul.before_after {
  list-style-type: none;
}

ul.before_after li {
  background-color: burlywood;
  margin: 0.5rem;
  width: 30%;
  border: 2px solid black;
  /* border-radius: 10px; */
  /* padding-left: 25px; */
  /* text-align: center; */
}

ul.before_after li::before {
  content: "🚗";
  margin: 10px;
}

ul.before_after li::after {
  content: "🚓";
}
