* {
  margin: 0;
  padding: 0;
}
body {
  border: 5px solid rebeccapurple;
}
.absolute {
  background-color: magenta;
  width: 250px;
  width: 10cm;
  width: 2in;
  height: 10vh;
}
.div2 {
  background-color: aquamarine;
  width: 50%;
  height: 150px;
}

.div3 {
  background-color: bisque;
  width: 50%;
  height: 50%;
}

.div4 {
  background-color: coral;
  width: 60vw;
  height: 10vh;
}

.div5 {
  font-size: 25px;
}

.div6 {
  font-size: 2em;
}

.div7 {
  font-size: 2em;
}

.div8 {
  font-size: 25px;
}

.div9 {
  font-size: 5rem;
}

.div10 {
  font-size: 5rem;
}
